<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.moonzhou.xss.dao.CommentMapper">

    <select id="findAll" resultType="CommentDmo">
        select * from comment
    </select>

    <insert id="insertComment" parameterType="CommentDmo">
        insert into comment (content) values (#{content,jdbcType=VARCHAR})
    </insert>
</mapper>