<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context
                http://www.springframework.org/schema/context/spring-context.xsd">


    <bean id="book" class="org.moonzhou.spring.ioc.xml.bean.Book"/>
    <!--<bean id="book2" class="org.moonzhou.spring.ioc.xml.bean.Book"/>-->

    <bean id="user" class="org.moonzhou.spring.ioc.xml.bean.User"/>

    <bean id="device" class="org.moonzhou.spring.ioc.xml.bean.Device">
        <constructor-arg index="0" value="1"/>
        <constructor-arg index="1" value="100"/>
        <constructor-arg index="2" value="g"/>
        <constructor-arg index="3" value="xiaomi"/>
    </bean>

    <bean id="car" class="org.moonzhou.spring.ioc.xml.bean.Car">
        <constructor-arg name="id" value="2"/>
        <constructor-arg name="name" value="特斯拉"/>
        <constructor-arg name="price" value="1000000.111"/>
    </bean>

    <bean id="blog" class="org.moonzhou.spring.ioc.xml.bean.Blog">
        <property name="id" value="3"/>
        <property name="name" value="spring ioc 笔记"/>
        <property name="size" value="30.01"/>
    </bean>

    <bean id="blog2" class="org.moonzhou.spring.ioc.xml.bean.Blog" p:id="4" p:name="spring ioc 笔记" p:size="30.02" />

    <!-- 静态工厂 -->
    <bean class="org.moonzhou.spring.ioc.xml.util.OkHttpUtils" factory-method="getInstance" id="okHttpClient"></bean>

    <!-- 实例工厂 -->
    <bean class="org.moonzhou.spring.ioc.xml.util.OkHttpUtils2" id="okHttpUtils2"/>
    <bean class="okhttp3.OkHttpClient" factory-bean="okHttpUtils2" factory-method="getInstance" id="okHttpClient2"></bean>

    <!-- 复杂属性注入 -->
    <bean id="cat" class="org.moonzhou.spring.ioc.xml.bean.Cat">
        <property name="name" value="小白" />
        <property name="color" value="黑色" />
    </bean>
    <bean id="cat2" class="org.moonzhou.spring.ioc.xml.bean.Cat">
        <property name="name" value="小黑" />
        <property name="color" value="白色" />
    </bean>
    <bean id="userComplex" class="org.moonzhou.spring.ioc.xml.bean.UserComplex">
        <property name="cat" ref="cat"/>
    </bean>

    <bean id="userComplex2" class="org.moonzhou.spring.ioc.xml.bean.UserComplex2">
        <property name="cat" ref="cat"/>
        <property name="favorites">
            <array>
                <value>足球</value>
                <value>篮球</value>
                <value>乒乓球</value>
            </array>
        </property>
    </bean>

    <bean id="userComplex3" class="org.moonzhou.spring.ioc.xml.bean.UserComplex3">
        <property name="cat" ref="cat"/>
        <property name="favorites">
            <array>
                <value>足球</value>
                <value>篮球</value>
                <value>乒乓球</value>
            </array>
        </property>
        <property name="cats">
            <list>
                <ref bean="cat"/>
                <ref bean="cat2"/>
                <bean class="org.moonzhou.spring.ioc.xml.bean.Cat" id="cat3">
                    <property name="name" value="小花"/>
                    <property name="color" value="花色"/>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="userComplex4" class="org.moonzhou.spring.ioc.xml.bean.UserComplex4">
        <property name="cat" ref="cat"/>
        <property name="favorites">
            <array>
                <value>足球</value>
                <value>篮球</value>
                <value>乒乓球</value>
            </array>
        </property>
        <property name="cats">
            <list>
                <ref bean="cat"/>
                <ref bean="cat2"/>
                <bean class="org.moonzhou.spring.ioc.xml.bean.Cat" id="cat3">
                    <property name="name" value="小花"/>
                    <property name="color" value="花色"/>
                </bean>
            </list>
        </property>

        <property name="map">
            <map>
                <entry key="age" value="18"/>
                <entry key="name" value="moonzhou"/>
            </map>
        </property>
    </bean>

    <bean id="userComplex5" class="org.moonzhou.spring.ioc.xml.bean.UserComplex5">
        <property name="cat" ref="cat"/>
        <property name="favorites">
            <array>
                <value>足球</value>
                <value>篮球</value>
                <value>乒乓球</value>
            </array>
        </property>
        <property name="cats">
            <list>
                <ref bean="cat"/>
                <ref bean="cat2"/>
                <bean class="org.moonzhou.spring.ioc.xml.bean.Cat" id="cat3">
                    <property name="name" value="小花"/>
                    <property name="color" value="花色"/>
                </bean>
            </list>
        </property>

        <property name="map">
            <map>
                <entry key="age" value="18"/>
                <entry key="name" value="moonzhou"/>
            </map>
        </property>

        <property name="info">
            <props>
                <prop key="age">19</prop>
                <prop key="name">moonzhou</prop>
            </props>
        </property>
    </bean>

    <!-- 包位置扫描 -->
    <!--<context:component-scan base-package="org.moonzhou.spring.ioc.scan.xml" />-->
    <!-- 注解类型扫描 -->
    <context:component-scan base-package="org.moonzhou.spring.ioc.scan.xml" use-default-filters="true">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <context:component-scan base-package="org.moonzhou.spring.ioc.scope.scan" />

    <!--<beans profile="dev">
        <bean class="org.moonzhou.spring.ioc.condition.xml.DataSource" id="dataSource">
            <property name="url" value="jdbc:mysql:///devdb"/>
            <property name="password" value="root"/>
            <property name="username" value="root"/>
        </bean>
    </beans>
    <beans profile="prod">
        <bean class="org.moonzhou.spring.ioc.condition.xml.DataSource" id="dataSource">
            <property name="url" value="jdbc:mysql://111.111.111.111/devdb"/>
            <property name="password" value="jsdfaklfj789345fjsd"/>
            <property name="username" value="root"/>
        </bean>
    </beans>-->

    <!-- scope demo -->
    <!-- 未添加scope，默认的是singleton -->
    <bean id="cup" class="org.moonzhou.spring.ioc.scope.xml.Cup"/>
    <bean id="tea" class="org.moonzhou.spring.ioc.scope.xml.Tea" scope="prototype"/>
</beans>